.modal {
  height: 100%;
  width: 100%;
  position: absolute;

  @include display-flx;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);

  @include for-phone-only {
    width: auto;
  }

  &__container {
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;

    background-color: white;
    @include display-flx;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__title {
    color: $purple;
    position: relative;

    letter-spacing: 1px;
    bottom: 20px;
  }

  &__p {
    position: relative;
    color: $text-color;

    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    bottom: 15px;
  }

  .form {
    @include display-flx;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 12px;

    &__fieldset {
      border: none;
      display: flex;
      gap: 8px;
      justify-content: space-between;
    }

    &__inputT {
      width: 360px;
      height: 35px;
      padding-left: 8px;

      border: 1px solid $purple;

      &::placeholder {
        color: $text-color;
      }

      &:focus {
        outline: none;
        border: 3px solid #5a51ff;
      }
    }

    &__buttons {
      @include display-flx;
      padding-top: 10px;
      gap: 10px;
    }

    &__buttonC {
      width: 170px;
      height: 30px;
      border-radius: 8px;

      border: 1px solid red;
      color: red;
      background: none;
      cursor: pointer;

      &:hover {
        background: red;
        color: white;
      }
    }

    &__buttonE {
      width: 170px;
      height: 30px;
      border-radius: 8px;

      border: 1px solid $purple;
      color: $purple;
      background: none;
      cursor: pointer;

      &:hover {
        background: $purple;
        color: white;
      }
    }
  }
}
